<div class="contLoginOuter">
	<div id="contLogin" class="container staggerAnimation">
		<!-- <div class="textoInfoServicio">Usted ha elegido:</div> -->
		<div>
			<div class="tituloServicio">{{titulo}}</div>

			<div class="formLoginPrestadores" *ngIf="!login">
				<form #formTramite="ngForm" (ngSubmit)="onSubmitLogin(formTramite)" method="POST">
					<div class="itemForm">
						<label for="usuario">USUARIO:</label><br>
						<input type="text" name="usuario" #thisUsuario="ngModel" [(ngModel)]="usuario" required pattern=".+">
						<span *ngIf="thisUsuario.touched && !thisUsuario.valid">Formato de usuario incorrecto</span>
					</div>
					<div class="itemForm">		
						<label for="password">CONTRASEÑA:</label><br>
						<input type="password" name="password" #thisPassword="ngModel" [(ngModel)]="password" required>
						<span *ngIf="thisPassword.touched && !thisPassword.valid">Debe ingresar una contraseña</span>
					</div>
					<re-captcha (resolved)="resolved($event)" siteKey="6Lcp_TcUAAAAALQRYHXbjmiGVFAfWNNnK8XCPb6T"></re-captcha>

					<input class="inputButtonAzul" type="submit" value="Ingresar">
				</form>
			</div>
		</div>
	</div>

	<div *ngIf="login" class="container loginContent">
		<router-outlet></router-outlet>
	</div>
</div>